@import 'global-style.scss';

.cover {
  width: 100%;
  height: 100vh;

  .background {
    z-index: 1;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/woman-programming.png');
    background-size: cover;
  }

  .coverImg {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    @include flex(column, center, flex-end);

    .info {
      @include flex(column, center, center);
      transition: 2s;
      margin: 8rem;

      h1,
      h2 {
        text-align: center;
        margin: 5px 0;
      }

      h1 {
        font-weight: 400;
        font-size: 4rem;
      }

      h2 {
        font-weight: 200;
        font-size: 2rem;
      }

      .buttons {
        @include flex(row, center, center);
        width: fit-content;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.7);

        .button {
          margin: 10px;
          cursor: pointer;
          text-transform: uppercase;
          a {
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

@media #{$mobile} {
  .cover {
    .background {
      opacity: 0.7;
    }
    .coverImg {
      @include flex(column, center, center);
      .info {
        h1 {
          font-size: 2.4rem;
        }
        h2 {
          font-size: 1.3rem;
        }
        .buttons {
          .button {
            margin: 3px;
            padding: 10px 20px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
