@import 'global-style.scss';

.skills {
  width: 100%;
  height: 350px;
  position: relative;
  @include flex(column, center, center);

  h1 {
    margin-top: 20px;
  }

  .title {
    @extend .titleMain;
    position: absolute;
    top: 0;
  }

  .cards {
    margin-top: 4rem;
    width: 100%;
    @include flex(row, center, center);
    flex-wrap: wrap;

    .card {
      @include flex(column, center, center);
      margin: 10px;
      width: 150px;
      height: 150px;
      transition: 1s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        transition: 0.5s ease-in-out;
      }

      h1 {
        display: none;
        color: white;
        font-size: 1.5rem;
        cursor: default;
      }

      &:hover {
        transition: 0.5s ease-in-out;
        background: rgba(76, 184, 180, 1);

        h1 {
          display: block;
        }
        img {
          display: none;
        }
      }
    }
  }
}

@media #{$mobile} {
  .skills {
    height: auto;
    .cards {
      .card {
        width: 100px;
        height: 100px;
        margin: 15px;

        h1 {
          display: block;
          margin: 0 0 10px 0;
          color: $coffe;
          font-size: 1rem;
        }
      }
    }
  }
}
