@import 'global-style.scss';

.container {
  position: fixed;
  height: 75px;
  width: 100vw;
  @include flex(row, flex-end, center);

  .name {
    height: 100%;
    @include flex(row, center, center);

    img {
      width: 70px;
      margin: 0 10px;
    }
    p {
      margin: 0 10px;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .contact {
    @extend .name;

    img {
      width: 36px;
    }

    p {
      font-weight: 400;
      font-size: 1.3rem;
    }
  }
}
