@import 'global-style.scss';

.footer {
  height: $header;
  width: 100%;
  @include flex(row, space-between, center);
  background-color: $black;

  .name {
    .me {
      font-size: 1rem;
      font-weight: 300;
      color: $light;
      margin: 0 0 0 30px;
    }
  }

  .icon {
    @include flex(row, center, center);

    .button {
      img {
        width: 30px;
        height: 30px;
        padding: 0 10px;
      }
    }
  }
}

@media #{$mobile} {
  .footer {
    .name {
      .me {
        margin: 0 0 0 10px;
      }
    }
  }
}
