@import 'global-style.scss';

.experience {
  @include flex(column, center, center);
  width: 100%;
  background-color: $light;
  padding: 0 0 2rem 0;

  .title {
    @extend .titleMain;
    margin-bottom: 4rem;
  }

  .info {
    .companies {
      @include flex(row, center, flex-start);
      .item {
        @include flex(row, center, flex-start);
        width: 30%;

        img {
          width: 70px;
          margin-right: 10px;
        }
        .info {
          h1 {
            margin: 0;
            font-weight: 300;
            font-size: 2rem;
          }
          p {
            font-weight: 200;
            font-size: 1.2rem;
            color: $coffe;
            margin: 5px 0;
          }
        }
      }
    }
  }
}

@media #{$mobile} {
  .experience {
    height: auto;

    .title {
      text-align: center;
      margin-bottom: 0;
    }

    .info {
      .companies {
        @include flex(column, center, center);
        .item {
          width: auto;
          padding: 20px;

          .info {
            h1 {
              font-size: 1.5rem;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media #{$tablet} {
  .experience {
    height: auto;
  }
}
