@import 'global-style.scss';

.abstract {
  width: calc(100% - 40px);
  padding: 20px;
  height: 400px;
  background-color: $light;
  @include flex(row, space-between, center);

  .left {
    @include flex(column, center, center);
    width: 55%;
    h1 {
      @extend .titleMain;
      margin: 20px 0;
    }

    .graduate {
      h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 10px;
      }
      p {
        text-align: center;
        color: $coffe;
        margin: 10px;
        font-size: 1rem;
      }
    }
  }

  .image {
    width: 40%;
    height: 100%;
    background-image: url('./draw-computer.jpg');
    background-size: cover;
  }
}

@media #{$mobile} {
  .abstract {
    padding: 0;
    width: auto;
    height: auto;

    .left {
      width: 100%;
      h1 {
        font-size: 2rem;
      }

      .graduate {
        width: 100%;
        h2 {
          font-size: 1rem;
          font-weight: 400;
          margin: 15px;
        }
        p {
          margin: 15px;
          font-size: 0.8rem;
        }
      }
    }

    .image {
      display: none;
    }
  }
}
