@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700,800,900');

$background: #ebebea;
$green: #4cb8b4;
$pink: #ff7477;
$yellow: #ffcc58;
$blue: #2797d8;
$light: #f8f9fa;
$coffe: #888;
$black: #151515;

$mobile: '(max-width: 700px)';
$tablet: '(max-width: 1000px)';
$screen-xlg: 'screen and (min-width: 1281px)';
$screen-xxlg: 'screen and (min-width: 1600px)';

$header: 75px;

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

.transparent {
  display: none;
  transition: 0.5s ease-in-out;
}

.show {
  display: block;
  transition: 0.5s ease-in-out;
}

.titleMain {
  font-size: 3rem;
  font-weight: 400;
}

@media #{$mobile} {
  .titleMain {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
}
